@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100;200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
   
}

:root {
    --text-style: 'Anton', sans-serif; ;
    --text-size-large: 1 rem;
    --text-size-small: 0.5 rem;
    --text--opacity: 0.5;
    --font-color-white: white;
    --font-color-red: #9C1B2D;
    --font-color-yellow: #D4AF37;
}

body {
    height: auto;
    background-color: #110B1D;
    backdrop-filter: blur(50px);
    overflow-x: hidden;
}

#container {
    --bg-image: url("https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1025&q=80");
    --bg-image-opacity: 0.08;
    position: relative;
    isolation: isolate;
    height: 100%;
    background-color: #110B1D;
}

#container::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: var(--bg-image);
    opacity: var(--bg-image-opacity);
    background-size: cover;
    background-repeat: no-repeat;
}

.body-clicked {
    background-color: #110B1D;
}

#main {
    width: 100%;
    height: 100%;
}

/* Search Bar Section */

.search {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    height: 50%;
    width: 40%;
}

input {
    padding-left: 3%;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    background-color: azure;
    margin-top: 5%;
    border: 0;
    font-family: var(--text-style);
    font-size: var(--text-size-small);
}

input::placeholder {
    color: black;
    font-family: var(--text-style);
    font-size: var(--text-size-small);
}

svg {
    position: relative;
    bottom: 90%;
    left: 92%;
    z-index: 2;
}

/* Movies Section */

.results {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    padding: 6%;
}


h1 {
    font-size: 1rem;
    white-space: normal;
    color: white;
    word-wrap: break-word;
}

.link-style {
    text-decoration: none;
    color: inherit;
}
.card img {
    height: 250px;
    max-width: 100%;
    border-radius: 25px;
    transition: transform 0.3s ease-in-out;
}

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 100%;  
}

.card img:hover{
    transform: translateY(-10px);
}

a {
    width: 10%;
}

/* Selected Movie Section */

.movie-details {
    display:grid;
    grid-template-rows: repeat(40, 2.5%);
    grid-template-columns: repeat(40, 2.5%);
    height: 100%;
    width: 100%;
    grid-row-gap: 0.25rem;
}


.movie-details img {
    border-radius: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-details div:first-child {
    grid-area: 3 / 3 / 30 / 14;
}

.movie-details > p:nth-child(2) {
    grid-area: 8 / 18 / 9 / 38;
    font-family: var(--text-style);
    color: var(--font-color-red);
}

.movie-details > p:nth-child(3) {
    grid-area: 9 / 18 / 10 / 38;
    align-self: end;
    color: aliceblue;
    line-height: 1.5;
    text-align: justify ;
    font-family: var(--text-style);
}

.movie-details > p:nth-child(4) {
    grid-area: 10 / 18/ 11 / 38;
    font-family: var(--text-style);
    color: var(--font-color-yellow);
}

.movie-details > p:nth-child(5) {
    grid-area: 11 / 18 / 12 / 38;
    font-family: var(--text-style);
    color: var(--font-color-white)
}

.movie-details h1:nth-child(6) {
    grid-area: 3 / 18 / 6 / 38;
    font-size: 2.5rem;
    justify-self: center;
    font-family: var(--text-style);
    font-weight: bolder;
    color: #9C1B2D;
}

.movie-details > p:nth-child(7) {
    grid-area: 12 / 18 / 13 / 38;
    color: var(--font-color-white);
    font-family: var(--text-style) ;        
    color: var(--font-color-red);
}

.movie-details > p:nth-child(8) {
    grid-area: 13 / 18 / 18 / 38;
    color: var(--font-color-white);
    font-family: var(--text-style);
}


@media screen and (max-width: 1024px) {

    form {
        width: 80%; 
    }

    svg {
        left: 85%;
        max-width: 10%;
        max-height: 100%;
    }

    #container {
        width: 100%;
        height: 100%;
    }

    /* #container::before {
        display: none;
    } */

    #main {

        width: 100%;
        height: 100%;
    }

    .results {
        justify-content: center;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        gap: 8%;
    }

    .card {
        width: 100%;;
        height: 100%;
        gap: 5%;
    }

    a {
        width: 40%;
        margin-bottom: 2%;
    }

    /* Movie JSX section */

    .movie-details div:first-child {
        grid-area: 5 / 5 / 25 / 35;
    }
    .movie-details > p:nth-child(2) {
        grid-area: 27 / 5 / 28 / 35;
    }
    
    .movie-details > p:nth-child(3) {
        grid-area: 28 / 5 / 29 / 35;
    }
    
    .movie-details > p:nth-child(4) {
        grid-area: 30 / 5 / 31 / 35;
    }
    
    .movie-details > p:nth-child(5) {
        grid-area: 31 / 5 / 32 / 35;
    }
    .movie-details h1:nth-child(6) {
        grid-area: 3 / 2 / 6 / 39;
        font-size: var(--text-size-small);
    }
    
    .movie-details > p:nth-child(7) {
        grid-area: 33 / 5 / 34 / 35;
        
    }

    .movie-details > p:nth-child(8) {
        grid-area: 34 / 5 / 41 / 35;
        font-size: var(--text-size-small);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    svg {
        left: 92%;
    }
  }
